.board-container {
    display: flex;
    flex-wrap: wrap;
    width: 490px; /* Ajustez la taille selon vos besoins */
    border: 2px solid #000;
}

.cell {
    width: 70px; /* Ajustez la taille selon vos besoins */
    height: 70px; /* Ajustez la taille selon vos besoins */
    border: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
}

.red {
    background-color: red;
    border-radius: 50%;
}

.yellow {
    background-color: yellow;
    border-radius: 50%;
}